@import "tailwindcss";

@layer base {
  body {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: var(--color-gray-100);
  }

  input[type="time"] {
    color: var(--color-gray-600);
  }
}
