@import "tailwindcss";

@layer base {
  body {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: var(--color-gray-100);
  }

  input[type="time"] {
    color: var(--color-gray-500);
    display: flex;
    gap: 5px;
    justify-content: space-between;
  }

  input[type="time"]::before {
    content: "Time (e.g., 10:30)";
  }
}
